.admin-container h2 {
  margin-top: 0;
}

.admin-container table{
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

.admin-container th, .admin-container td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.admin-container th {
   background-color: #FFC5C5; /* pink background color */
    color: #fff; /* white text color */
    font-weight: bold;
}

.admin-container .time-column {
  width: 20%;
}

.admin-container .status-column {
  width: 30%;
}

.admin-container .actions-column {
  width: 50%;
  text-align: center;
}

.admin-container .admin-button {
  margin: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #FFC5C5;
  color: #fff;
  cursor: pointer;
}

.admin-container .admin-button:hover {
  background-color: #f8cce2;
}