/* components/HomePage.css */
.home-container {
  text-align: center;
  padding: 2rem;
  background-color: #fff; /* Secondary Color */
  color: #333;
}

.room-image {
  max-width: 50%;
  height: auto;
  margin-bottom: 1rem;
}
