/* src/components/PricePage.css */

.price-page {
  display: flex;
  flex-direction: column; /* Change to column layout */
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.price-page img {  
  object-fit: contain;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  width: 50%;
  height: auto;
  margin-bottom: 10px;
}